<a href="https://colab.research.google.com/github/S-Devisri01/Python-colab/blob/main/Python_gen_ai_day_1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("/content/movies.csv")
print(df.head())
print(df.info())
print(df.isnull().sum())
df = df.drop_duplicates()

                                             name rating      genre  year  \
0                                     The Shining      R      Drama  1980
1                                 The Blue Lagoon      R  Adventure  1980
2  Star Wars: Episode V - The Empire Strikes Back     PG     Action  1980
3                                       Airplane!     PG     Comedy  1980
4                                      Caddyshack      R     Comedy  1980

                        released  score      votes         director  \
0  June 13, 1980 (United States)    8.4   927000.0  Stanley Kubrick
1   July 2, 1980 (United States)    5.8    65000.0   Randal Kleiser
2  June 20, 1980 (United States)    8.7  1200000.0   Irvin Kershner
3   July 2, 1980 (United States)    7.7   221000.0     Jim Abrahams
4  July 25, 1980 (United States)    7.3   108000.0     Harold Ramis

                    writer            star         country      budget  \
0             Stephen King  Jack Nicholson  United Kingdom  19000000.0
1  Henry De Vere Stacpoole  Brooke Shields   United States   4500000.0
2           Leigh Brackett     Mark Hamill   United States  18000000.0
3             Jim Abrahams     Robert Hays   United States   3500000.0
4       Brian Doyle-Murray     Chevy Chase   United States   6000000.0

         gross             company  runtime
0   46998772.0        Warner Bros.    146.0
1   58853106.0   Columbia Pictures    104.0
2  538375067.0           Lucasfilm    124.0
3   83453539.0  Paramount Pictures     88.0
4   39846344.0      Orion Pictures     98.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB
None
name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [5]:
# Numeric columns → use mean
df["score"].fillna(df["score"].mean(), inplace=True)
df["votes"].fillna(df["votes"].mean(), inplace=True)
df["budget"].fillna(df["budget"].mean(), inplace=True)
df["gross"].fillna(df["gross"].mean(), inplace=True)
df["runtime"].fillna(df["runtime"].mean(), inplace=True)
# Categorical / non-numeric columns → use mode
df["rating"].fillna(df["rating"].mode()[0], inplace=True)
df["released"].fillna(df["released"].mode()[0], inplace=True)
df["writer"].fillna(df["writer"].mode()[0], inplace=True)
df["star"].fillna(df["star"].mode()[0], inplace=True)
df["country"].fillna(df["country"].mode()[0], inplace=True)
df["company"].fillna(df["company"].mode()[0], inplace=True)

/tmp/ipython-input-2347088130.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["score"].fillna(df["score"].mean(), inplace=True)
/tmp/ipython-input-2347088130.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["votes"].fillna(df["votes"].mean(), inplace=True)
/tmp/ipython-input-2347088130.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["budget"].fillna(df["budget"].mean(), inplace=True)
/tmp/ipython-input-2347088130.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["gross"].fillna(df["gross"].mean(), inplace=True)
/tmp/ipython-input-2347088130.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["runtime"].fillna(df["runtime"].mean(), inplace=True)

In [6]:
print(df.isnull().sum())

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [7]:
df.describe()

,year,score,votes,budget,gross,runtime
count,7668.000000,7668.000000,7.668000e+03,7.668000e+03,7.668000e+03,7668.000000
mean,2000.405451,6.390411,8.810850e+04,3.558988e+07,7.850054e+07,107.261613
std,11.153508,0.968652,1.632918e+05,3.510036e+07,1.636697e+08,18.576400
min,1980.000000,1.900000,7.000000e+00,3.000000e+03,3.090000e+02,55.000000
25%,1991.000000,5.800000,9.100000e+03,1.400000e+07,4.681151e+06,95.000000
50%,2000.000000,6.500000,3.300000e+04,3.558988e+07,2.141330e+07,104.000000
75%,2010.000000,7.100000,9.300000e+04,3.558988e+07,7.850054e+07,116.000000
max,2020.000000,9.300000,2.400000e+06,3.560000e+08,2.847246e+09,366.000000

In [8]:
print(df)

                                                name rating      genre  year  \
0                                        The Shining      R      Drama  1980
1                                    The Blue Lagoon      R  Adventure  1980
2     Star Wars: Episode V - The Empire Strikes Back     PG     Action  1980
3                                          Airplane!     PG     Comedy  1980
4                                         Caddyshack      R     Comedy  1980
...                                              ...    ...        ...   ...
7663                                    More to Life      R      Drama  2020
7664                                     Dream Round      R     Comedy  2020
7665                                   Saving Mbango      R      Drama  2020
7666                                    It's Just Us      R      Drama  2020
7667                                       Tee em el      R     Horror  2020

                              released     score         votes  \
0        June 13, 1980 (United States)  8.400000  9.270000e+05
1         July 2, 1980 (United States)  5.800000  6.500000e+04
2        June 20, 1980 (United States)  8.700000  1.200000e+06
3         July 2, 1980 (United States)  7.700000  2.210000e+05
4        July 25, 1980 (United States)  7.300000  1.080000e+05
...                                ...       ...           ...
7663  October 23, 2020 (United States)  3.100000  1.800000e+01
7664  February 7, 2020 (United States)  4.700000  3.600000e+01
7665         April 27, 2020 (Cameroon)  5.700000  2.900000e+01
7666   October 1, 2020 (United States)  6.390411  8.810850e+04
7667   August 19, 2020 (United States)  5.700000  7.000000e+00

             director                   writer              star  \
0     Stanley Kubrick             Stephen King    Jack Nicholson
1      Randal Kleiser  Henry De Vere Stacpoole    Brooke Shields
2      Irvin Kershner           Leigh Brackett       Mark Hamill
3        Jim Abrahams             Jim Abrahams       Robert Hays
4        Harold Ramis       Brian Doyle-Murray       Chevy Chase
...               ...                      ...               ...
7663    Joseph Ebanks            Joseph Ebanks      Shannon Bond
7664     Dusty Dukatz              Lisa Huston  Michael Saquella
7665     Nkanya Nkwai             Lynno Lovert      Onyama Laura
7666    James Randall            James Randall     Christina Roz
7667     Pereko Mosia             Pereko Mosia  Siyabonga Mabaso

             country        budget         gross                    company  \
0     United Kingdom  1.900000e+07  4.699877e+07               Warner Bros.
1      United States  4.500000e+06  5.885311e+07          Columbia Pictures
2      United States  1.800000e+07  5.383751e+08                  Lucasfilm
3      United States  3.500000e+06  8.345354e+07         Paramount Pictures
4      United States  6.000000e+06  3.984634e+07             Orion Pictures
...              ...           ...           ...                        ...
7663   United States  7.000000e+03  7.850054e+07         Universal Pictures
7664   United States  3.558988e+07  7.850054e+07  Cactus Blue Entertainment
7665   United States  5.875000e+04  7.850054e+07           Embi Productions
7666   United States  1.500000e+04  7.850054e+07         Universal Pictures
7667    South Africa  3.558988e+07  7.850054e+07                PK 65 Films

         runtime
0     146.000000
1     104.000000
2     124.000000
3      88.000000
4      98.000000
...          ...
7663   90.000000
7664   90.000000
7665  107.261613
7666  120.000000
7667  102.000000

[7668 rows x 15 columns]

In [10]:
from sklearn.model_selection import train_test_split

x = df.drop("budget", axis=1) #input
y = df["budget"] #output

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=45)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(5751, 14)
(1917, 14)
(5751,)
(1917,)