<a href="https://colab.research.google.com/github/S-Devisri01/Python-colab/blob/main/Python_gen_ai_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
# =====================================
# 1. Create Dataset (Real-time style)
# =====================================
data = {
    "Employee": ["Amit", "Riya", "John", "Neha", "Ravi", "Riya"],
    "Region": ["East", "West", "East", "South", "West", "West"],
    "Department": ["IT", "HR", "IT", "Sales", "HR", "HR"],
    "Sales": [500, 700, 600, 900, 650, 700],
    "Experience": [2, 3, 1, 4, 2, 3]
}

df = pd.DataFrame(data)
print("\n Original Data")
print(df)

# =====================================
# 2. Basic Understanding
# =====================================
print("\n Head")
print(df.head())

print("\n Tail")
print(df.tail())

print("\n Shape")
print(df.shape)

print("\n Columns")
print(df.columns)

print("\n Info")
print(df.info())

print("\n Describe")
print(df.describe())

# =====================================
# 3. Missing & Duplicate Handling
# =====================================
print("\n Missing Values")
print(df.isnull().sum())

df = df.drop_duplicates()
print("\n After Removing Duplicates")
print(df)

# =====================================
# 4. Add / Rename / Type Change
# =====================================
df["Bonus"] = df["Sales"] * 0.1
print("\n Added Bonus Column")
print(df)

df = df.rename(columns={"Employee": "Employee_Name"})
print("\n Renamed Column")
print(df)

df["Experience"] = df["Experience"].astype(int)

# =====================================
# 5. Filtering
# =====================================
high_sales = df[df["Sales"] > 600]
print("\n High Sales")
print(high_sales)

south_hr = df[(df["Region"] == "South") & (df["Department"] == "Sales")]
print("\n South Sales Department")
print(south_hr)

# =====================================
# 6. Sorting & Counting
# =====================================
print("\n Sorted by Sales")
print(df.sort_values(by="Sales", ascending=False))

print("\n Department Count")
print(df["Department"].value_counts())

print("\n Unique Regions")
print(df["Region"].unique())

print("\n Number of Unique Regions")
print(df["Region"].nunique())

# =====================================
# 7. GROUP BY (Core Analytics )
# =====================================

# Group by Region – SUM
total_sale_by_region = df.groupby("Region")["Sales"].sum()
print("\n Total Sale by Region")
print(total_sale_by_region)

# Group by Region – MEAN
avg_sales_by_region = df.groupby("Region")["Sales"].mean()
print("\n Avg Sale by Region")
print(avg_sales_by_region)

# Multiple Aggregations (from your screenshot)
agg_sales = df.groupby("Region")["Sales"].agg(["sum", "mean", "max"])
print("\n Multiple Aggregations")
print(agg_sales)

# Group by Multiple Columns (VERY IMPORTANT )
emp_region_sales = df.groupby(["Region", "Employee_Name"])["Sales"].sum()
print("\n Employee & Region Wise Sales")
print(emp_region_sales)

# =====================================
# 8. Index Operations
# =====================================
print("\n Reset Index")
print(total_sale_by_region.reset_index())

print("\n Set Index")
print(df.set_index("Employee_Name"))

# =====================================
# 9. loc & iloc
# =====================================
print("\n Using loc")
print(df.loc[0:2, ["Employee_Name", "Sales"]])

print("\n Using iloc")
print(df.iloc[0:2, 0:3])

# =====================================
# 10. apply() – Feature Engineering
# =====================================
df["Sales_Category"] = df["Sales"].apply(
    lambda x: "High" if x >= 700 else "Low"
)
print("\n Sales Category")
print(df)

# =====================================
# 11. Stats & Correlation
# =====================================
print("\n Max Sales")
print(df["Sales"].max())

print("\n Total Sales")
print(df["Sales"].sum())

print("\n Correlation")
print(df[["Sales", "Experience"]].corr())

# =====================================
# 12. Sampling & Copy
# =====================================
print("\n Sample Data")
print(df.sample(2))

df_copy = df.copy()

# =====================================
# 13. Save Output File
# =====================================
load_csv = df.to_csv("final_employee_sales_analysis.csv", index=False)
print("\n File Saved Successfully")

#  Upload file
sales_data = pd.read_csv("/content/sales_data (Not used still).csv")
print("\n Read the CSV file\n", sales_data.head())

 Original Data
  Employee Region Department  Sales  Experience
0     Amit   East         IT    500           2
1     Riya   West         HR    700           3
2     John   East         IT    600           1
3     Neha  South      Sales    900           4
4     Ravi   West         HR    650           2
5     Riya   West         HR    700           3

 Head
  Employee Region Department  Sales  Experience
0     Amit   East         IT    500           2
1     Riya   West         HR    700           3
2     John   East         IT    600           1
3     Neha  South      Sales    900           4
4     Ravi   West         HR    650           2

 Tail
  Employee Region Department  Sales  Experience
1     Riya   West         HR    700           3
2     John   East         IT    600           1
3     Neha  South      Sales    900           4
4     Ravi   West         HR    650           2
5     Riya   West         HR    700           3

 Shape
(6, 5)

 Columns
Index(['Employee', 'Region', 'Department', 'Sales', 'Experience'], dtype='object')

 Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Employee    6 non-null      object
 1   Region      6 non-null      object
 2   Department  6 non-null      object
 3   Sales       6 non-null      int64
 4   Experience  6 non-null      int64
dtypes: int64(2), object(3)
memory usage: 372.0+ bytes
None

 Describe
            Sales  Experience
count    6.000000    6.000000
mean   675.000000    2.500000
std    133.229126    1.048809
min    500.000000    1.000000
25%    612.500000    2.000000
50%    675.000000    2.500000
75%    700.000000    3.000000
max    900.000000    4.000000

 Missing Values
Employee      0
Region        0
Department    0
Sales         0
Experience    0
dtype: int64

 After Removing Duplicates
  Employee Region Department  Sales  Experience
0     Amit   East         IT    500           2
1     Riya   West         HR    700           3
2     John   East         IT    600           1
3     Neha  South      Sales    900           4
4     Ravi   West         HR    650           2

 Added Bonus Column
  Employee Region Department  Sales  Experience  Bonus
0     Amit   East         IT    500           2   50.0
1     Riya   West         HR    700           3   70.0
2     John   East         IT    600           1   60.0
3     Neha  South      Sales    900           4   90.0
4     Ravi   West         HR    650           2   65.0

 Renamed Column
  Employee_Name Region Department  Sales  Experience  Bonus
0          Amit   East         IT    500           2   50.0
1          Riya   West         HR    700           3   70.0
2          John   East         IT    600           1   60.0
3          Neha  South      Sales    900           4   90.0
4          Ravi   West         HR    650           2   65.0

 High Sales
  Employee_Name Region Department  Sales  Experience  Bonus
1          Riya   West         HR    700           3   70.0
3          Neha  South      Sales    900           4   90.0
4          Ravi   West         HR    650           2   65.0

 South Sales Department
  Employee_Name Region Department  Sales  Experience  Bonus
3          Neha  South      Sales    900           4   90.0

 Sorted by Sales
  Employee_Name Region Department  Sales  Experience  Bonus
3          Neha  South      Sales    900           4   90.0
1          Riya   West         HR    700           3   70.0
4          Ravi   West         HR    650           2   65.0
2          John   East         IT    600           1   60.0
0          Amit   East         IT    500           2   50.0

 Department Count
Department
IT       2
HR       2
Sales    1
Name: count, dtype: int64

 Unique Regions
['East' 'West' 'South']

 Number of Unique Regions
3

 Total Sale by Region
Region
East     1100
South     900
West     1350
Name: Sales, dtype: int64

 Avg Sale by Region
Region
East     550.0
South    900.0
West     675.0
Name: Sales, dtype: float64

 Multiple Aggregations
         sum   mean  max
Region
East    1100  550.0  600
South    900  900.0  900
West    1350  675.0  700

 Employee & Region Wise Sales
Region  Employee_Name
East    Amit             500
        John             600
South   Neha             900
West    Ravi             650
        Riya             700
Name: Sales, dtype: int64

 Reset Index
  Region  Sales
0   East   1100
1  South    900
2   West   1350

 Set Index
              Region Department  Sales  Experience  Bonus
Employee_Name
Amit            East         IT    500           2   50.0
Riya            West         HR    700           3   70.0
John            East         IT    600           1   60.0
Neha           South      Sales    900           4   90.0
Ravi            West         HR    650           2   65.0

 Using loc
  Employee_Name  Sales
0          Amit    500
1          Riya    700
2          John    600

 Using iloc
  Employee_Name Region Department
0          Amit   East         IT
1          Riya   West         HR

 Sales Category
  Employee_Name Region Department  Sales  Experience  Bonus Sales_Category
0          Amit   East         IT    500           2   50.0            Low
1          Riya   West         HR    700           3   70.0           High
2          John   East         IT    600           1   60.0            Low
3          Neha  South      Sales    900           4   90.0           High
4          Ravi   West         HR    650           2   65.0            Low

 Max Sales
900

 Total Sales
3350

 Correlation
               Sales  Experience
Sales       1.000000    0.827837
Experience  0.827837    1.000000

 Sample Data
  Employee_Name Region Department  Sales  Experience  Bonus Sales_Category
3          Neha  South      Sales    900           4   90.0           High
0          Amit   East         IT    500           2   50.0            Low

 File Saved Successfully

 Read the CSV file
    Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0        1052  02-03-2023       Bob  North       5053.97             18
1        1093   4/21/2023       Bob   West       4384.02             17
2        1015   9/21/2023     David  South       4631.23             30
3        1072   8/24/2023       Bob  South       2167.94             39
4        1061   3/24/2023   Charlie   East       3750.20             13

  Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0        Furniture     152.75      267.22     Returning      0.09
1        Furniture    3816.39     4209.44     Returning      0.11
2             Food     261.56      371.40     Returning      0.20
3         Clothing    4330.03     4467.75           New      0.02
4      Electronics     637.37      692.71           New      0.08

  Payment_Method Sales_Channel Region_and_Sales_Rep
0           Cash        Online            North-Bob
1           Cash        Retail             West-Bob
2  Bank Transfer        Retail          South-David
3    Credit Card        Retail            South-Bob
4    Credit Card        Online         East-Charlie

In [5]:
import pandas as pd
# ================================
# EMPLOYEES TABLE
# ================================
employees = pd.DataFrame({
    "EmpID": [1, 2, 3],
    "Name": ["Amit", "Riya", "John"]
})

print("\n Employees Table")
print(employees)

# ================================
# SALES TABLE
# ================================
sales = pd.DataFrame({
    "EmpID": [1, 2, 4],
    "Sales": [500, 700, 900]
})

print("\n Sales Table")
print(sales)

# ================================
# MERGE (ALL TYPES OF JOINS)
# ================================

# INNER JOIN
inner_join = pd.merge(employees, sales, on="EmpID", how="inner")
print("\n Inner Join")
print(inner_join)

# LEFT JOIN
left_join = pd.merge(employees, sales, on="EmpID", how="left")
print("\n Left Join")
print(left_join)

# RIGHT JOIN
right_join = pd.merge(employees, sales, on="EmpID", how="right")
print("\n Right Join")
print(right_join)

# OUTER JOIN (FULL JOIN)
outer_join = pd.merge(employees, sales, on="EmpID", how="outer")
print("\n Outer Join")
print(outer_join)

# ================================
# DATA FOR PIVOT
# ================================
data = {
    "Region": ["East", "East", "West", "West"],
    "Year": [2023, 2024, 2023, 2024],
    "Sales": [500, 600, 700, 800]
}

df = pd.DataFrame(data)
print("\n Sales Data for Pivot")
print(df)

# ================================
# PIVOT (simple)
# ================================
pivot_df = df.pivot(
    index="Year",
    columns="Region",
    values="Sales"
)

print("\n Pivot Table (Year vs Region)")
print(pivot_df)

# ================================
# PIVOT TABLE with AGGREGATION
# ================================
pivot_table_df = pd.pivot_table(
    df,
    index="Region",
    columns="Year",
    values="Sales",
    aggfunc="max"
)

print("\n Pivot Table with Aggregation (Max Sales)")
print(pivot_table_df)

 Employees Table
   EmpID  Name
0      1  Amit
1      2  Riya
2      3  John

 Sales Table
   EmpID  Sales
0      1    500
1      2    700
2      4    900

 Inner Join
   EmpID  Name  Sales
0      1  Amit    500
1      2  Riya    700

 Left Join
   EmpID  Name  Sales
0      1  Amit  500.0
1      2  Riya  700.0
2      3  John    NaN

 Right Join
   EmpID  Name  Sales
0      1  Amit    500
1      2  Riya    700
2      4   NaN    900

 Outer Join
   EmpID  Name  Sales
0      1  Amit  500.0
1      2  Riya  700.0
2      3  John    NaN
3      4   NaN  900.0

 Sales Data for Pivot
  Region  Year  Sales
0   East  2023    500
1   East  2024    600
2   West  2023    700
3   West  2024    800

 Pivot Table (Year vs Region)
Region  East  West
Year
2023     500   700
2024     600   800

 Pivot Table with Aggregation (Max Sales)
Year    2023  2024
Region
East     500   600
West     700   800

In [6]:
import pandas as pd

# ================================
# BASIC DATA
# ================================
data = {
    "EmpID": [1, 2, 3, 4],
    "Name": ["Amit", "Riya", "John", "Raji"],
    "Region": ["East", "West", "South", "West"],
    "Sales": [500, 700, 900, 650],
    "Join_Date": ["2023-01-10", "2023-02-15", "2023-03-20", "2023-04-25"]
}

df = pd.DataFrame(data)
print("\n Original Data")
print(df)

# ================================
# STRING FUNCTIONS
# ================================
df["Name_Upper"] = df["Name"].str.upper()
df["Name_Lower"] = df["Name"].str.lower()
df["Name_Length"] = df["Name"].str.len()
df["Name_Has_A"] = df["Name"].str.contains("a", case=False)

print("\n String Functions")
print(df[["Name", "Name_Upper", "Name_Lower", "Name_Length", "Name_Has_A"]])

# ================================
# REPLACE FUNCTION
# ================================
df["Region"] = df["Region"].replace({
    "East": "E",
    "West": "W",
    "South": "S"
})

print("\n Replace Function (Region Short Form)")
print(df[["Name", "Region"]])

# ================================
# MAP FUNCTION
# ================================
region_map = {
    "E": "East Zone",
    "W": "West Zone",
    "S": "South Zone"
}

df["Region_Full"] = df["Region"].map(region_map)

print("\n Map Function")
print(df[["Name", "Region", "Region_Full"]])

# ================================
# DATE CONVERSION
# ================================
df["Join_Date"] = pd.to_datetime(df["Join_Date"])

print("\n Date Converted")
print(df[["Name", "Join_Date"]])

# ================================
# DATE FORMAT CHANGE
# ================================
df["Join_Year"] = df["Join_Date"].dt.year
df["Join_Month"] = df["Join_Date"].dt.month
df["Join_Date_Format"] = df["Join_Date"].dt.strftime("%d-%m-%Y")

print("\n Date Format Changed")
print(df[["Name", "Join_Year", "Join_Month", "Join_Date_Format"]])

# ================================
# GROUP BY
# ================================
group_sales = df.groupby("Region_Full")["Sales"].sum()
print("\n Group By Sales")
print(group_sales)

# ================================
# PIVOT TABLE
# ================================
pivot_table = pd.pivot_table(
    df,
    index="Region_Full",
    values="Sales",
    aggfunc="mean"
)

print("\n Pivot Table (Average Sales)")
print(pivot_table)

 Original Data
   EmpID  Name Region  Sales   Join_Date
0      1  Amit   East    500  2023-01-10
1      2  Riya   West    700  2023-02-15
2      3  John  South    900  2023-03-20
3      4  Raji   West    650  2023-04-25

 String Functions
   Name Name_Upper Name_Lower  Name_Length  Name_Has_A
0  Amit       AMIT       amit            4        True
1  Riya       RIYA       riya            4        True
2  John       JOHN       john            4       False
3  Raji       RAJI       raji            4        True

 Replace Function (Region Short Form)
   Name Region
0  Amit      E
1  Riya      W
2  John      S
3  Raji      W

 Map Function
   Name Region Region_Full
0  Amit      E   East Zone
1  Riya      W   West Zone
2  John      S  South Zone
3  Raji      W   West Zone

 Date Converted
   Name  Join_Date
0  Amit 2023-01-10
1  Riya 2023-02-15
2  John 2023-03-20
3  Raji 2023-04-25

 Date Format Changed
   Name  Join_Year  Join_Month Join_Date_Format
0  Amit       2023           1       10-01-2023
1  Riya       2023           2       15-02-2023
2  John       2023           3       20-03-2023
3  Raji       2023           4       25-04-2023

 Group By Sales
Region_Full
East Zone      500
South Zone     900
West Zone     1350
Name: Sales, dtype: int64

 Pivot Table (Average Sales)
             Sales
Region_Full
East Zone    500.0
South Zone   900.0
West Zone    675.0